# macOS
.DS_Store

# Xcode
xcuserdata/
xcshareddata/xcschemes/
*.xcscmblueprint
*.xccheckout
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
Config.xcconfig

*.hmap
*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace

.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
Dependencies/
.accio/
.swiftpm/xcode/
.sourcepackage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Injection
iOSInjectionProject/

# Firebase Configuration
App/ReportChat/GoogleService-Info.plist

# Logs
*.log
*.xcactivitylog
*.ccache/
*.gcda
*.gcno
*.gcov

# Temporary
*.tmp
*.temp
*.swp
*.swo

# Git metadata
*.orig